<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacken.ttsbservicecore.mapper.JdGoodsMapper">

  <select id="selectCreditCountListPage"
          parameterType="com.jacken.wqttsbmodel.request.JdGoodsRequest" resultType="java.util.Map">
    select *
    from jd_goods
    <where>
      <choose>
        <when test="request.goodsPackageName != null and request.goodsPackageName != ''">
          and goods_package_name = #{goodsPackageName}
        </when>
        <when test="request.goodsName != null and request.goodsName != ''">
          and goods_name like concat('%', #{request.goodsName}, '%')
        </when>
      </choose>
    </where>
  </select>
</mapper>